# dependencies
node_modules/

*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# 환경 설정 파일
.env
*.env

# Django Static and Media
/static/
media/

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py

# IDE/Editor 설정 파일
.vscode/
.idea/
*.swp

# 테스트 파일
.coverage
*.log
*.pytest_cache/

# 기타
.DS_Store
Thumbs.db
*.dll
*.jmod

#이거 나중에 지워 이상있으면
