doctype html
html(lang="ko")
    head
        title Coupang~
        link(rel="stylesheet",href="../css/coupang.css")
    body
        .main
            .topContainer
                .topItem.backtop1
                .topItem.backtop1
            .bottomContainer
                .bottomItem
                .bottomItem
                .bottomItem
                .bottomItem
