doctype html 
html(lang="ko")
    head
        title ZARD
    body
        main
            p
                span Average :
                input#avg 
            p
                span Median :
                input#Median
            p
                span Maximum :
                input#Maximum
            p
                span Minimum :
                input#Minimum
            p
                span Standard Deviation :
                input#Deviation
        script(type="module", src="../js/score.js") 