doctype
html(lang=ko)
    head
        title TransposeMatrix
    body
        div#maincontainer
            div
                p#beforeMatrix
                p#afterMatirx
                
        script(src="../js/transM.js") 